
<div class="navigation-wrapper">
	
	<div class="site-name">
		
	</div><!-- /.site-name -->

	<div class="top-navigation" style=" margin: auto;">
		<br>
		<a href="{{ site.url }}" style="font-size:50px; padding-bottom: 0px; color:black">DOSWAH</a>
		<br><p style="font-family: Courier New">An adventure blog.</p>
		<nav role="navigation" id="site-nav" class="nav" >
		    <ul>
		    	<!--<a href="{{ site.url }}"><li style="color:black;bottom-padding:100px; margin-right:40px"><h1>DOSWAH</h1></li></a>-->
		        {% for link in site.links %}
				<li ><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->    <br>